/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mat-radio-button {
  padding: 10px;
}

.mat-table {
  width:100%
}

.mat-row {
  cursor: pointer;
}